<ul>
	<li *ngFor="let topLevel of topLevels">
		<div (click)="topLevel.open = !topLevel.open">
			<span>{{topLevel.name}}</span>
			<img src="assets/arrow.png" [@toggle]="topLevel.open ? 'rotateClosed' : 'rotateOpened'">
		</div>
		<ul [@toggle]="topLevel.open ? 'menuOpened' : 'menuClosed'">
			<ng-container  *ngFor="let midLevel of midLevels">
				<li *ngIf="midLevel.parent == topLevel.id" routerLink="products" [queryParams]="{category:midLevel.id}">{{midLevel.name}}</li>
			</ng-container>
		</ul>
	</li>
</ul>
