:host {
    display: flex;
    justify-content: center;
	align-items: center;
	height: 100%;

    .box {
        width: 50vw;
		height: 50vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto;
		border-radius: 0.5rem;
		background-color: lightgray;
		-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

		.success {
			color: yellow;
			text-align: center;
		}

		.container-between {
			width: 25rem;
			margin: 3rem auto;
		}

		button {
			width: 7rem;
			text-align: center;
			margin: 0 auto;
		}
    }
}